
<section class="section single-wrap" ng-controller="SellerController">
	<div class="container">
		<div class="page-title">
			<div class="row">
				<div class="col-sx-12 text-center">
					<h3>{{message}}</h3>
					<div class="bread">
						<ol class="breadcrumb">
							<li><a href="#">Home</a></li>
							<li class="active">All Sellers</li>
						</ol>
					</div>
				</div>
			</div>
		</div>

		<div class="content-top">
			<div class="row">
				<div class="col-sx-6 col-sm-6">
					<div class="custommenu hidden-xs">
						<a id="showLeft" href="#" title="" class="bt-menu-trigger"><i
							class="fa fa-bars"></i> <img
							src="assets/assets/assets/upload/fav.png" alt=""></a>
					</div>
				</div>

				<div class="col-sm-6 col-xs-12 cen-xs text-right">
					<ul class="list-inline social">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						
					</ul>
				</div>
			</div>
			<!-- end row -->
		</div>
		<!-- end content top -->


		<!-- end content before -->

		<div class="content boxs">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div class="storelist panel panel-info">
						<div class="panel-body" >
							<div class="form-group row wow fadeIn" ng-repeat="seller in sellers">
								<div class="col-md-3 col-xs-12">
									<img alt="" class="img-responsive img-thumbnail"
										src="assets/upload/{{seller.idUser}}.jpg">
								</div>
								<div class="col-md-2 col-xs-12">
									<h4>
										<a ng-click="detailSeller(seller.idUser)"> {{seller.name}} {{seller.lastName}}</a>
									</h4>
									<ul>
										<li><a href="#"><i class="fa fa-envelope-o"></i>{{seller.mail}}</a></li>
										<li><a href="public-profile.html"><i
												class="fa fa-image"></i> 123 Items</a></li>
										<li><a href="single-item.html"><i
												class="fa fa-shopping-cart"></i> 2021 Sales</a></li>
										<li><i class="fa fa-map-marker"></i> Tunisia</li>
										<li><button class="btn btn-primary" tabindex="-1" ng-click="supprimer(shop)">
												<i class="fa fa-search"></i>
											</button></li>
									</ul>
								</div>
							
								<div class="col-md-5 col-xs-12">
									<ul class="list-inline">
										<li><a href="single-item.html" class="screenshot"
											data-gal="assets/assets/upload//item_01.jpg"
											title="This is an item title <span>$12.00</span>"><img
												class="img-responsive img-thumbnail"
												src="assets/upload/item_01.jpg" alt=""></a></li>
										<li><a href="single-item.html" class="screenshot"
											data-gal="assets/assets/upload//item_02.jpg"
											title="This is an item title <span>$12.00</span>"><img
												class="img-responsive img-thumbnail"
												src="assets/upload/item_02.jpg" alt=""></a></li>
										<li><a href="single-item.html" class="screenshot"
											data-gal="assets/upload/item_03.jpg"
											title="This is an item title <span>$12.00</span>"><img
												class="img-responsive img-thumbnail"
												src="assets/upload/item_03.jpg" alt=""></a></li>
										<li><a href="single-item.html" class="screenshot"
											data-gal="assets/upload/item_04.jpg"
											title="This is an item title <span>$12.00</span>"><img
												class="img-responsive img-thumbnail"
												src="assets/upload/item_04.jpg" alt=""></a></li>
										<li><a href="single-item.html" class="screenshot"
											data-gal="assets/upload/item_05.jpg"
											title="This is an item title <span>$12.00</span>"><img
												class="img-responsive img-thumbnail"
												src="assets/upload/item_05.jpg" alt=""></a></li>
									</ul>
								</div>
								<!-- end col -->
								<div class="col-md-2 col-xs-12 text-center">
									<ul>
										<li><a href="#" class="btn btn-primary btn-block">Follow
												this Seller</a></li>
										<li><a href="public-profile.html" title="">192
												Followers</a></li>
										<li><a href="public-profile.html" title="">44
												Following</a></li>
									</ul>
								</div>
							</div>
							<!-- end form-group -->

							<hr>


						</div>
						<!-- end panel-body -->
					</div>
					<!-- end panel -->
				</div>
				<!-- end col -->
			</div>
			<!-- end row -->
		</div>
		<!-- end content -->

		<div class="content-after text-center boxs">
			<div class="row">
				<div class="col-md-12">
					<nav class="pagination-wrapper">
						<ul class="pagination">
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#" aria-label="Next"> <span
									aria-hidden="true">&raquo;</span>
							</a></li>
						</ul>
					</nav>
				</div>
			</div>
			<!-- end row -->
		</div>
		<!-- end content after -->

		<div class="content-message boxs">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 text-center">
					<h2>See why over 10,000 designers and developers trust
						Catalog. Ready to take your marketplace to the next level?</h2>
					<a href="#" class="btn btn-default btn-lg">Join Today</a>
				</div>
			</div>
			<!-- end row -->
		</div>
		<!-- end content message -->
	</div>
	<!-- end container -->
</section>