
<section class="section single-wrap"
	ng-controller="ShopDetailController">
	<div class="container">
		<div class="page-title">
			<div class="row">
				<div class="col-sx-12 text-center">
					<h3>{{shopbyid.nameShop}}</h3>
				</div>
			</div>
		</div>

		<div class="content-top">
			<div class="row">
				<div class="col-sx-6 col-sm-6">
					<div class="custommenu hidden-xs">
						<a id="showLeft" href="#" title="" class="bt-menu-trigger"><i
							class="fa fa-bars"></i> <img src="assets/upload/fav.png" alt=""></a>
					</div>
				</div>

				<div class="col-sm-6 col-xs-12 cen-xs text-right">
					<div class="bread">
						<ol class="breadcrumb">
							<li><a href="#">Home</a></li>
							<li><a href="#">Shop</a></li>
							<li><a href="#">{{shopbyid.nameShop}}</a></li>
							<li class="active"></li>
						</ol>
					</div>
				</div>
			</div>
			<!-- end row -->
		</div>
		<!-- end content top -->

		<div class="row">
			<div id="singlewrapper" class="col-md-8">
				
				<!-- end content before -->

				<div class="content nopad">
					<div class="item-single-wrapper">
						<div class="item-box">

							<div class="item-media text-center">

								<div id="carousel" class="flexslider clearfix">
									<ul class="slides">
										<img src="assets/upload/shops/{{shopbyid.idShop}}.jpg" alt=""
											class="img-responsive">

									</ul>
								</div>
							</div>
							<!-- end item-media -->

							<div class="item-desc">
								Shop Description:
								<p>{{shopbyid.description}}</p>


							</div>
							<!-- end item-desc -->
						</div>
						<!-- end item-box -->
					</div>
					<!-- end item-single-wrapper -->
				</div>
				<!-- end content -->

				<div class="content-after boxs" ng-repeat="pbs in productbyshop">
					<div class="row">
						<div class="col-md-12 general-title">
							<h4>
								{{pbs.nameProduct}} <span class="hidden-xs"><a
									href="public-profile.html">View all</a></span>
							</h4>
							<hr>
						</div>
						<!-- end col -->
					</div>
					<!-- end row -->
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<div class="item-box">
								<div class="item-media entry">
									<img src="assets/upload/item_01.jpg" alt=""
										class="img-responsive">
									<div class="magnifier">
										<div class="item-author">
											<a href="public-profile.html"><img
												src="upload/member_01.jpg" class="img-circle" alt="">
												Amanda</a>
										</div>
										<!-- end author -->
									</div>
									<div class="theme__button">
										<p>
											<a href="single-item.html" title="">$212</a>
										</p>
									</div>
								</div>
								<!-- end item-media -->
								<h4>
									<a href="single-item.html">Weather Forecast</a>
								</h4>
								<small><a href="single-item.html"><i
										class="fa fa-eye"></i> 893</a></small> <small><a
									href="single-item.html"><i class="fa fa-comment-o"></i> 12</a></small>
							</div>
							<!-- end item-box -->
						</div>
						<!-- end col -->

						<div class="col-md-4 col-sm-6">
							<div class="item-box">
								<div class="item-media entry">
									<img src="assets/upload/item_02.jpg" alt=""
										class="img-responsive">
									<div class="magnifier">
										<div class="item-author">
											<a href="public-profile.html"><img
												src="upload/member_02.jpg" class="img-circle" alt="">
												Bob</a>
										</div>
										<!-- end author -->
									</div>
									<div class="theme__button">
										<p>
											<a href="single-item.html" title="">$5</a>
										</p>
									</div>
								</div>
								<!-- end item-media -->
								<h4>
									<a href="single-item.html">Google Map Collection</a>
								</h4>
								<small><a href="single-item.html"><i
										class="fa fa-eye"></i> 221</a></small> <small><a
									href="single-item.html"><i class="fa fa-comment-o"></i> 05</a></small>
							</div>
							<!-- end item-box -->
						</div>
						<!-- end col -->

						<div class="col-md-4 col-sm-6">
							<div class="item-box">
								<div class="item-media entry">
									<img src="assets/upload/item_03.jpg" alt=""
										class="img-responsive">
									<div class="magnifier">
										<div class="item-author">
											<a href="public-profile.html"><img
												src="upload/member_03.jpg" class="img-circle" alt="">
												Selena</a>
										</div>
										<!-- end author -->
									</div>
									<div class="theme__button">
										<p>
											<a href="single-item.html" title="">$5</a>
										</p>
									</div>
								</div>
								<!-- end item-media -->
								<h4>
									<a href="single-item.html">Podcast App</a>
								</h4>
								<small><a href="single-item.html"><i
										class="fa fa-eye"></i> 412</a></small> <small><a
									href="single-item.html"><i class="fa fa-comment-o"></i> 31</a></small>
							</div>
							<!-- end item-box -->
						</div>
						<!-- end col -->
					</div>
					<!-- end row -->
				</div>
				<!-- end content after -->
			</div>
			<!-- end singlewrapper -->

			<div id="sidebar" class="col-md-4">
				<div class="boxes boxs">
					<div class="item-price text-center">
						<h3>Created : {{shopbyid.dateCreation | date:'medium'}}</h3>
						<em><a href="#"></a></em>
						<div class="rating">
							<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
								class="fa fa-star"></i> <i class="fa fa-star"></i> <i
								class="fa fa-star"></i>
						</div>
						<hr>
						<small><a href="#"><i class="fa fa-star-o"></i> Add to
								Favorites</a> &nbsp;&nbsp; <a href="#"><i class="fa fa-heart-o"></i>
								Like it</a> </small>
						<hr>

						<ul class="list-inline social">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fa fa-behance"></i></a></li>
							<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
						</ul>
					</div>
					<!-- end price -->
				</div>
				<!-- end boxes -->

				<div class="boxes boxs">
					<div class="desiger-details text-center">
						<img src="assets/upload/users/{{seller.idUser}}.jpg" class="img-circle" alt=""></a>
						<h4>
							<a href="public-profile.html">{{seller.name}}
								{{seller.lastName}} - {{seller.companyName}}</a>
						</h4>
						<small><a href="#"><i class="fa fa-envelope-o"></i>
								Send a Message</a> &nbsp;&nbsp; <a href="#"><i
								class="fa fa-user-plus"></i> Follow {{seller.name}}'s</a> </small>
					</div>
					<!-- end designer -->
				</div>
				<!-- end boxes -->

			</div>
			<!-- end sidebar -->
		</div>
		<!-- end row -->


		<!-- Add product to shop here -->

		<div class="content boxs">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div class="storelist panel panel-info">
						<div class="panel-body">
							<div class="form-group row wow fadeIn"">
								<div class="col-md-3 col-xs-12">
									<img alt="" class="img-responsive img-thumbnail"
										src="assets/upload/NewProduct.jpg">
								</div>
								<div class="col-md-2 col-xs-12">
									<h4>
										<a ng-click=""></a>
									</h4>
								</div>
								<div class="col-md-5 col-xs-12">
									<form name="form" ng-submit="AjouterProduct()" role="form"
										ng-controller="ProductController">
										<div class="form-group">
											<label for="nameProduct">Product Name</label> <i
												class="fa fa-key"></i> <input type="text" name="nameProduct"
												class="form-control" ng-model="nameProduct" required />
										</div>
										<div class="form-group">
											 <label for="description">Description</label>
									        <i class="fa fa-text-width"></i>
									         <textarea class="form-control" name="description"  rows="5" id="description" ng-model="description" 
									        required ></textarea>
										</div>
										<div class="form-group">
											<label for="price">price</label> <i class="fa fa-usd"></i>

											<input type="number" name="price" class="form-control"
												ng-model="price" required />
										</div>
										<div class="form-group">
											<label for="Qte">Qte</label> <i class="fa fa-sort-numeric-asc"></i> <input
												type="number" name="Qte" class="form-control" ng-model="Qte"
												required />
										</div>
										<div class="form-group">
											<label for="dateAdd">Date</label> <i class="fa fa-calendar"></i>

											<input type="datetime-local" name="dateAdd"
												class="form-control" ng-model="dateAdd"
												placeholder="yyyy-MM-ddTHH:mm:ss" min="2001-01-01T00:00:00"
												max="2018-12-31T00:00:00" required />
										</div>
										 <div class="form-group">
									        <label for="File">Image Shop</label>
									        <i class="fa fa-picture-o"></i>
									    	<input type="file" file-model="myFile" />
									    </div>
										<div class="form-actions">
											<input value="Add Product to shop" type="submit"
												class="btn btn-danger">
										</div>
									</form>
								</div>
								<!-- end col -->
								<div class="stores boxs">
									<div class="row">
										<div class="col-md-12 general-title">
											<h4>
												Featured Products <span class="hidden-xs"><a
													href="#/product-list">View all</a></span>
											</h4>
											<hr>
										</div>
										<!-- end col -->
									</div>
									<!-- end row -->

									<div class="row homefeatured" ng-controller="ShopController">
										<div class="col-md-12" ng-repeat="product in products">
											<div class="storelist panel panel-info">
												<div class="panel-body">
													<div class="form-group row">
														<div class="col-sm-3 col-xs-12">
															<img alt="" class="img-responsive img-thumbnail"
																src="assets/upload/products/{{product.idProduct}}.jpg">
														</div>
														<div class="col-sm-2 col-xs-12">
															<h4>
																<a href="public-profile.html">{{product.nameProduct}}</a>
															</h4>
															<ul>
																<li><a href="#"><i class="fa fa-envelope-o"></i>
																		Get Support</a></li>
																
																<li><a href="single-item.html"><i
																		class="fa fa-shopping-cart"></i> {{product.price}} $</a></li>
																<li><i class="fa fa-map-marker"></i>
																	{{product.nameShop}}</li>
															</ul>
														</div>
														<div class="col-md-5 col-xs-12">
															<ul class="list-inline">
																<li><a href="single-item.html" class="screenshot"
																	data-gal="assets/upload/item_01.jpg"
																	title="This is an item title <span>$12.00</span>"><img
																		class="img-responsive img-thumbnail"
																		src="assets/upload/item_01.jpg" alt=""></a></li>
																<li><a href="single-item.html" class="screenshot"
																	data-gal="assets/upload/item_02.jpg"
																	title="This is an item title <span>$12.00</span>"><img
																		class="img-responsive img-thumbnail"
																		src="assets/upload/item_02.jpg" alt=""></a></li>
																<li><a href="single-item.html" class="screenshot"
																	data-gal="assets/upload/item_03.jpg"
																	title="This is an item title <span>$12.00</span>"><img
																		class="img-responsive img-thumbnail"
																		src="assets/upload/item_03.jpg" alt=""></a></li>
																<li><a href="single-item.html" class="screenshot"
																	data-gal="assets/upload/item_04.jpg"
																	title="This is an item title <span>$12.00</span>"><img
																		class="img-responsive img-thumbnail"
																		src="assets/upload/item_04.jpg" alt=""></a></li>
																<li><a href="single-item.html" class="screenshot"
																	data-gal="assets/upload/item_05.jpg"
																	title="This is an item title <span>$12.00</span>"><img
																		class="img-responsive img-thumbnail"
																		src="assets/upload/item_05.jpg" alt=""></a></li>
															</ul>
														</div>
														<!-- end col -->
														<div class="col-sm-2 col-xs-12 text-center">
															<ul>
																<li><a href="#" class="btn btn-primary btn-block">Buy Now</a></li>
																
															</ul>
														</div>
													</div>
													<!-- end form-group -->
												</div>
											</div>
										</div>
										<!-- end col -->
									</div>
									<!-- end r0w -->
								</div>
								<!-- end stores -->
							</div>
							<!-- end form-group -->

							<hr>


						</div>
						<!-- end panel-body -->
					</div>
					<!-- end panel -->
				</div>
				<!-- end col -->
			</div>
			<!-- end row -->
		</div>
		<!-- end content -->


		<div class="content-message boxs">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 text-center">
					<h2>See why over 10,000 designers and developers trust
						Catalog. Ready to take your marketplace to the next level?</h2>
					<a href="#" class="btn btn-default btn-lg">Join Today</a>
				</div>
			</div>
			<!-- end row -->
		</div>
		<!-- end content message -->
	</div>
	<!-- end container -->
</section>
<script src="assets/js/flexslider.js"></script>
<script>
        (function($) {
        "use strict";
        $(window).load(function() {
            $('#carousel').flexslider({
                animation: "slide",
                controlNav: false,
                directionNav: false,
                animationLoop: true,
                slideshow: true,
                itemWidth: 92,
                itemMargin: 0,
                asNavFor: '#slider'
            });
       
            $('#slider').flexslider({
                animation: "fade",
                controlNav: false,
                animationLoop: false,
                slideshow: true,
                sync: "#carousel"
            });
        });
        })(jQuery);
    </script>